{% extends "appbuilder/base.html" %}

{% block content %}
<h1>les demandes de réintialisation des mots de passe</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">prénom</th>
        <th scope="col">Nouveau mot de passe</th>
 
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Patrick</th>
        <td>Smith</td>
        <td>password</td>

        <td><button type="button" class="btn btn-success">Accepter</button></td><td><button type="button" class="btn btn-danger">Refuser</button></td>
      </tr>
      <tr>
        <th scope="row">Georges</th>
        <td>Potter</td>
        <td>password</td>
  
        <td><button type="button" class="btn btn-success">Accepter</button></td><td><button type="button" class="btn btn-danger">Refuser</button></td>
      </tr>
      <tr>
        <th scope="row">Patrick</th>
        <td>Smith</td>
        <td>password</td>
   
        <td><button type="button" class="btn btn-success">Accepter</button></td><td><button type="button" class="btn btn-danger">Refuser</button></td>
      </tr>
      <tr>
        <th scope="row">Patrick</th>
        <td>Smith</td>
        <td>password</td>

        <td><button type="button" class="btn btn-success">Accepter</button></td><td><button type="button" class="btn btn-danger">Refuser</button></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
