

 {% extends "appbuilder/base.html" %}

 {% block content %}
     
<h1>Enregistrer un client </h1>


 <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">ID</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Full name</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Adresse</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
   </div>
  </div>


    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Phone number</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
   </div>
   
 



   
    
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
 
 {% endblock %}
 
 

