
 {% extends "appbuilder/base.html" %}

 {% block content %}
 <h1>Entrepôts</h1>

<button type="button" class="btn btn-primary">Ajouter un nouvel entrepôt</button>
 <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID/th>
        
        <th scope="col">information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">123</th>
        
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>
      <tr>
        <th scope="row">345</th>
        
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>
      <tr>
        <th scope="row">234</th>
       
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>
      <tr>
        <th scope="row">843</th>
       
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>
      <tr>
        <th scope="row">930</th>
       
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>
      <tr>
        <th scope="row">111</th>
       
        <td>exemple</td>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td><td><button type="button" class="btn btn-success">Modifier</button></td>
      </tr>

    </tbody>
  </table>
  


 {% endblock %}
 
 

