{% extends "appbuilder/base.html" %}
{% block content %}
   

    <h1>Historique des expéditions</h1>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Éxpédition</th>
        <th scope="col">État</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Expédition x</th>
        <td>Etat</td>
      </tr>
      <tr>
        <th scope="row">Expédition x</th>
        <td>Etat</td>
      </tr>
      <tr>
        <th scope="row">Expédition x</th>
        <td>Etat</td>
      </tr>
    </tbody>
  </table>

   

{% endblock %}