<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e012ab56aeea4dff9fbb5dc799b08a23 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e012ab56aeea4dff9fbb5dc799b08a23" ></div>
        
</body>
<script>    
    
            var map_e012ab56aeea4dff9fbb5dc799b08a23 = L.map(
                "map_e012ab56aeea4dff9fbb5dc799b08a23",
                {
                    center: [33.9794, -6.8673],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_613a9e9e2ebb4e44921b8dc341ad44b7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e012ab56aeea4dff9fbb5dc799b08a23);
        
    
            var marker_40d8e165a10f4572bd583e3474df5173 = L.marker(
                [34.020882, -6.83165],
                {}
            ).addTo(map_e012ab56aeea4dff9fbb5dc799b08a23);
        
    
            var icon_a1d3f18a60e74d7f802fc177e317ecfd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_40d8e165a10f4572bd583e3474df5173.setIcon(icon_a1d3f18a60e74d7f802fc177e317ecfd);
        
    
        var popup_b46fcd7c3914496b948a11c1a6b76057 = L.popup({"maxWidth": "100%"});

        
            var html_cab4646e85d640f2956a73c9422c96b8 = $(`<div id="html_cab4646e85d640f2956a73c9422c96b8" style="width: 100.0%; height: 100.0%;">Rabat</div>`)[0];
            popup_b46fcd7c3914496b948a11c1a6b76057.setContent(html_cab4646e85d640f2956a73c9422c96b8);
        

        marker_40d8e165a10f4572bd583e3474df5173.bindPopup(popup_b46fcd7c3914496b948a11c1a6b76057)
        ;

        
    
    
            var marker_ff0388d2521540b1a4f2dff9b058bfbb = L.marker(
                [31.669746, -7.973328],
                {}
            ).addTo(map_e012ab56aeea4dff9fbb5dc799b08a23);
        
    
            var icon_2cdb65982b9c4bc180922e56ca50efce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "Yellow", "prefix": "glyphicon"}
            );
            marker_ff0388d2521540b1a4f2dff9b058bfbb.setIcon(icon_2cdb65982b9c4bc180922e56ca50efce);
        
    
        var popup_1a27aa06e19647c6b87ead42da1be406 = L.popup({"maxWidth": "100%"});

        
            var html_7888f8bdc3954ddd8df37bfd56233ece = $(`<div id="html_7888f8bdc3954ddd8df37bfd56233ece" style="width: 100.0%; height: 100.0%;">Marrakech</div>`)[0];
            popup_1a27aa06e19647c6b87ead42da1be406.setContent(html_7888f8bdc3954ddd8df37bfd56233ece);
        

        marker_ff0388d2521540b1a4f2dff9b058bfbb.bindPopup(popup_1a27aa06e19647c6b87ead42da1be406)
        ;

        
    
    
            var poly_line_43d3801474af44faa23782fe2c5a0623 = L.polyline(
                [[33.9794, -6.8673], [33.5895, -7.6128], [34.0623, -6.7889], [33.5368, -7.6829], [33.5998, -7.6321], [33.55, -7.6891], [31.668, -8.0228], [31.6516, -8.0653], [34.0561, -5.0455], [33.5872, -7.5229], [33.606, -7.562], [33.9354, -6.8081], [31.6183, -8.0653], [33.9371, -6.9028], [34.0128, -6.8314], [33.9794, -6.8673]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_e012ab56aeea4dff9fbb5dc799b08a23);
        
    
        var popup_508deb6cee1b4670af06869edca30d12 = L.popup({"maxWidth": "100%"});

        
            var html_b68e531e17fc43f98ad4617526d7db53 = $(`<div id="html_b68e531e17fc43f98ad4617526d7db53" style="width: 100.0%; height: 100.0%;">['INPT', 'clt11_casa', 'clt2_rabat', 'clt10_casa', 'clt5_casa', 'clt9_casa', 'clt14_mkech', 'clt15_mkech', 'clt13_fez', 'clt8_casa', 'clt7_casa', 'clt4_rabat', 'clt16_mkech', 'clt3_rabat', 'clt1_rabat', 'INPT']</div>`)[0];
            popup_508deb6cee1b4670af06869edca30d12.setContent(html_b68e531e17fc43f98ad4617526d7db53);
        

        poly_line_43d3801474af44faa23782fe2c5a0623.bindPopup(popup_508deb6cee1b4670af06869edca30d12)
        ;

        
    
</script>