<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_04902cda107a4fefb078125555aad1e7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_04902cda107a4fefb078125555aad1e7" ></div>
        
</body>
<script>    
    
            var map_04902cda107a4fefb078125555aad1e7 = L.map(
                "map_04902cda107a4fefb078125555aad1e7",
                {
                    center: [33.9794, -6.8673],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_19f923ae862a40bb84a4bff5fdf99713 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_04902cda107a4fefb078125555aad1e7);
        
    
            var marker_0c5ecf4c577c417cb8c4c19db47f0a36 = L.marker(
                [34.020882, -6.83165],
                {}
            ).addTo(map_04902cda107a4fefb078125555aad1e7);
        
    
            var icon_6d54497bd18d41b99e4ed7f1413d9d7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0c5ecf4c577c417cb8c4c19db47f0a36.setIcon(icon_6d54497bd18d41b99e4ed7f1413d9d7c);
        
    
        var popup_0ee4bff5b4104425a9cb0d4acb2bf738 = L.popup({"maxWidth": "100%"});

        
            var html_31d7d6e0356a40f8af08e1938a9e925e = $(`<div id="html_31d7d6e0356a40f8af08e1938a9e925e" style="width: 100.0%; height: 100.0%;">Rabat</div>`)[0];
            popup_0ee4bff5b4104425a9cb0d4acb2bf738.setContent(html_31d7d6e0356a40f8af08e1938a9e925e);
        

        marker_0c5ecf4c577c417cb8c4c19db47f0a36.bindPopup(popup_0ee4bff5b4104425a9cb0d4acb2bf738)
        ;

        
    
    
            var marker_520797f5e3fb4a5aa56367f5ced26a29 = L.marker(
                [31.669746, -7.973328],
                {}
            ).addTo(map_04902cda107a4fefb078125555aad1e7);
        
    
            var icon_cef294c486f94ab6a5380cca97f62d5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "Yellow", "prefix": "glyphicon"}
            );
            marker_520797f5e3fb4a5aa56367f5ced26a29.setIcon(icon_cef294c486f94ab6a5380cca97f62d5d);
        
    
        var popup_d1e5d268cc7f40ccad6079e008a0376b = L.popup({"maxWidth": "100%"});

        
            var html_34fe3c7def0a48059913e9dd7c226bc4 = $(`<div id="html_34fe3c7def0a48059913e9dd7c226bc4" style="width: 100.0%; height: 100.0%;">Marrakech</div>`)[0];
            popup_d1e5d268cc7f40ccad6079e008a0376b.setContent(html_34fe3c7def0a48059913e9dd7c226bc4);
        

        marker_520797f5e3fb4a5aa56367f5ced26a29.bindPopup(popup_d1e5d268cc7f40ccad6079e008a0376b)
        ;

        
    
    
            var poly_line_09c1dc6f398f46ee955a5a27ebce1067 = L.polyline(
                [[33.9794, -6.8673], [33.5895, -7.6128], [34.0623, -6.7889], [33.5368, -7.6829], [33.5998, -7.6321], [33.55, -7.6891], [31.668, -8.0228], [31.6516, -8.0653], [34.0561, -5.0455], [33.5872, -7.5229], [33.606, -7.562], [33.9354, -6.8081], [31.6183, -8.0653], [33.9371, -6.9028], [34.0128, -6.8314], [33.9794, -6.8673]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_04902cda107a4fefb078125555aad1e7);
        
    
        var popup_a5df07d0b60a48f3a98e138febac9714 = L.popup({"maxWidth": "100%"});

        
            var html_58cac00532b84a94a71e474b48100ede = $(`<div id="html_58cac00532b84a94a71e474b48100ede" style="width: 100.0%; height: 100.0%;">['INPT', 'clt11_casa', 'clt2_rabat', 'clt10_casa', 'clt5_casa', 'clt9_casa', 'clt14_mkech', 'clt15_mkech', 'clt13_fez', 'clt8_casa', 'clt7_casa', 'clt4_rabat', 'clt16_mkech', 'clt3_rabat', 'clt1_rabat', 'INPT']</div>`)[0];
            popup_a5df07d0b60a48f3a98e138febac9714.setContent(html_58cac00532b84a94a71e474b48100ede);
        

        poly_line_09c1dc6f398f46ee955a5a27ebce1067.bindPopup(popup_a5df07d0b60a48f3a98e138febac9714)
        ;

        
    
</script>