{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>Suivi des expéditions</h1>

    <h2></h2>
    <h2></h2>
    <h2>Veuillez entrer l'ID de l'expédition</h2>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <td><button type="button" class="btn btn-success">Valider</button></td>



{% endblock %}