{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>Tableau de bord</h1>


  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Commandes fournisseurs</th>
        <th scope="col">État</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Commande x</th>
        <td>Reçu</td>
      </tr>
      <tr>
        <th scope="row">Commande y</th>
        <td>En attente</td>
      </tr>
      <tr>
        <th scope="row">Commande x</th>
        <td>Reçu</td>
      </tr>
    </tbody>
  </table>


</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Expéditions clients</th>
      <th scope="col">État</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Expédition x</th>
      <td>Reçu</td>
    </tr>
    <tr>
      <th scope="row">Expédition y</th>
      <td>En attente</td>
    </tr>
    <tr>
      <th scope="row">Expédition z</th>
      <td>Reçu</td>
    </tr>
  </tbody>
</table>

     


{% endblock %}