{% extends "appbuilder/base.html" %}

{% block content %}
<h1>Utilisateurs</h1>

<a href="creercompte.html"><button type="button" class="btn btn-primary">Ajouter un nouvel utilisateur</button></a>
 </a>


<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">État de connection</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">Connecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">déconnecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">Connecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">déconnecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">Connecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">déconnecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        
        <th scope="row">déconnecté</th>
        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  
  

{% endblock %}
