<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_39113572a05b4272922c3803d9e82f6a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_39113572a05b4272922c3803d9e82f6a" ></div>
        
</body>
<script>    
    
            var map_39113572a05b4272922c3803d9e82f6a = L.map(
                "map_39113572a05b4272922c3803d9e82f6a",
                {
                    center: [35.0, 35.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5d84176b55194cfd8bc38456097fb2cf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var marker_b49affe6db184bf881d83c5834c6b1ca = L.marker(
                [35.0, 35.0],
                {}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var icon_21628fbed1524edc9e35d7367008731a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b49affe6db184bf881d83c5834c6b1ca.setIcon(icon_21628fbed1524edc9e35d7367008731a);
        
    
        var popup_8b4ec11d24584cca821f6b402b9e79b6 = L.popup({"maxWidth": "100%"});

        
            var html_83fe2acaa3a54161b28a4147c6a7cee4 = $(`<div id="html_83fe2acaa3a54161b28a4147c6a7cee4" style="width: 100.0%; height: 100.0%;">Rabat</div>`)[0];
            popup_8b4ec11d24584cca821f6b402b9e79b6.setContent(html_83fe2acaa3a54161b28a4147c6a7cee4);
        

        marker_b49affe6db184bf881d83c5834c6b1ca.bindPopup(popup_8b4ec11d24584cca821f6b402b9e79b6)
        ;

        
    
    
            var poly_line_92a1f35632b14d86b7dd58407b7b39dd = L.polyline(
                [[18.0, 18.0], [32.0, 12.0], [60.0, 12.0], [65.0, 20.0], [50.0, 35.0], [27.0, 43.0], [4.0, 18.0], [4.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_db910efa62684e909da76dea3b1daf33 = L.polyline(
                [[18.0, 18.0], [18.0, 24.0], [15.0, 30.0], [15.0, 30.0], [26.0, 52.0], [26.0, 27.0], [22.0, 27.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_df43c66646274ba1bafd04afe466c96c = L.polyline(
                [[18.0, 18.0], [15.0, 19.0], [19.0, 21.0], [20.0, 26.0], [11.0, 31.0], [2.0, 60.0], [31.0, 67.0], [36.0, 26.0], [36.0, 26.0], [25.0, 24.0], [22.0, 22.0], [25.0, 21.0], [23.0, 3.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_bf71ce9d30a64b6db8403cf7dbf717c4 = L.polyline(
                [[18.0, 18.0], [15.0, 10.0], [24.0, 12.0], [42.0, 7.0], [42.0, 7.0], [53.0, 12.0], [41.0, 49.0], [30.0, 25.0], [20.0, 20.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "lime", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lime", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_6180e4b249344c468f190c17c32c561a = L.polyline(
                [[18.0, 18.0], [16.0, 22.0], [10.0, 20.0], [14.0, 37.0], [17.0, 34.0], [55.0, 20.0], [30.0, 5.0], [18.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_638de2b6153045589ea3872118d6acc7 = L.polyline(
                [[18.0, 18.0], [11.0, 14.0], [5.0, 30.0], [6.0, 38.0], [15.0, 47.0], [20.0, 50.0], [55.0, 54.0], [55.0, 54.0], [21.0, 24.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_b31eadb430834ad18f6bfc4cf35bb3ea = L.polyline(
                [[18.0, 18.0], [12.0, 24.0], [2.0, 48.0], [8.0, 56.0], [30.0, 60.0], [63.0, 65.0], [20.0, 40.0], [25.0, 30.0], [25.0, 30.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "white", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_2efee2d00efb4f048efb165771f0d16e = L.polyline(
                [[18.0, 18.0], [26.0, 35.0], [31.0, 52.0], [27.0, 69.0], [24.0, 58.0], [13.0, 52.0], [18.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_c052d8bf164c4ff19a28011f780f8050 = L.polyline(
                [[18.0, 18.0], [10.0, 43.0], [15.0, 60.0], [15.0, 77.0], [37.0, 56.0], [62.0, 77.0], [65.0, 55.0], [64.0, 42.0], [47.0, 47.0], [37.0, 47.0], [18.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_6096655ee871441e804b394f89498ef3 = L.polyline(
                [[18.0, 18.0], [40.0, 60.0], [49.0, 58.0], [55.0, 60.0], [55.0, 60.0], [45.0, 30.0], [28.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_77cd31c1ece743879f45c69f3fdd71bd = L.polyline(
                [[18.0, 18.0], [49.0, 11.0], [56.0, 39.0], [35.0, 35.0], [6.0, 68.0], [18.0, 18.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "lime", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lime", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_db7c67b34b5c480f9efe2930d6694e33 = L.polyline(
                [[18.0, 18.0], [35.0, 17.0], [41.0, 37.0], [49.0, 42.0], [53.0, 43.0], [56.0, 37.0], [61.0, 52.0], [53.0, 52.0], [53.0, 52.0], [35.0, 69.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_8d23636843644a869fad205ca1f7c506 = L.polyline(
                [[18.0, 18.0], [5.0, 5.0], [45.0, 10.0], [55.0, 5.0], [57.0, 29.0], [65.0, 35.0], [49.0, 73.0], [49.0, 73.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
    
            var poly_line_5666a6a9bc404cd199a20956b817b08e = L.polyline(
                [[18.0, 18.0], [40.0, 25.0], [45.0, 20.0], [44.0, 17.0], [46.0, 13.0], [47.0, 16.0], [47.0, 16.0], [63.0, 23.0], [55.0, 45.0], [57.0, 68.0], [45.0, 65.0], [18.0, 18.0]],
                {"bubblingMouseEvents": true, "color": "white", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "white", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_39113572a05b4272922c3803d9e82f6a);
        
</script>